.home {
  text-align: center;
  background-color: #222222;
  height: 100vh;
}

.todo-app {
  padding: 10px;
  border-radius: 15px;
  height: 500px;
  width: 500px;
}

.todo-list {
  margin-left: 140px;
}

.list-element {
  color: white;
  text-align: left;
  font-weight: bold;
  padding-top: 5px;
}

h2 {
  color: white;
}

.add-btn {
  border-radius: 10px;
  border-style: hidden;
  width: 45px;
  height: 30px;
  margin-left: 15px;
}

.list-input {
  height: 30px;
}

.MuiAppBar-colorPrimary {
  background-color: #222222 !important;
}

.home-title {
  display: inline-block;
  background-color: #222222 !important;
  padding: 5px;
}
